<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= comments.total || 0 %> comments for <%= id %></title>
  </head>
  <body>
    <div>
      <% comments.comments.forEach(comment => { %>
      <div style="display: flex;">
        <img lazy src="<%= comment.authorThumb[0].url %>"/>
        <div class="rVideoInfo">
          <h4><a href="/c/<%= comment.authorId %>"><%= comment.author %></a></h4>
          <small><%= comment.time %><%= (comment.isVerified || comment.isOfficialArtist) ? " | Verified user" : "" %><%= comments.isMember ? " | Channel Member" : "" %><%= comment.isOwner ? " | Owner" : "" %><%= comment.isPinned ? " | Pinned" : "" %></small>
          <pre><%- comment.text %></pre>
          <small><%= comment.likes %> likes <%= comment.isHearted ? "| Hearted" : "" %></small><br>
          <% if (comment.replyToken) { %>
          <small><a href="/cm/<%= id %>?replyToken=<%- encodeURIComponent(comment.replyToken) %>">View <%= comment.numReplies %> replies</a></small>
          <% } %>
        </div>
      </div>
      <% }); %>
    </div>

    <% if (prev) { %>
    <a class="fixed border bottom left" href="/cm/<%= id %>?<%- (replyToken ? "replyToken=" : "continuation=") + encodeURIComponent(prev) %>"
      >Previous Page</a
    >
    <% } %>

    <% if (comments.continuation) { %>
    <a class="fixed border bottom right" href="/cm/<%= id %>?<%- (replyToken ? "replyToken=" : "continuation=") + encodeURIComponent(comments.continuation) %><%= thisID ? "&prev=" + encodeURIComponent(thisID) : "" %>"
      >Next Page</a
    >
    <% } %>
    <style>
      body {
        display: block;
      }

      img {
        max-width: 50px;
        width: 50px;
        height: 50px;
        padding: 10px;
      }

      .rVideoInfo {
        width: 100%;
        max-width: 100%;
      }
    </style>
  </body>
</html>
