<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= info.videoDetails.title %></title>
  <meta name="description" content="<%= info.videoDetails.description || "" %>">
  <meta property="og:title" content="<%= info.videoDetails.title %> - ytmous">
  <meta property="og:type" content="video">
  <meta property="og:video" content="/stream/<%= id %>">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video" content="/stream/<%= id %>">
  <meta property="og:video:type" content="text/html">
  <meta property="twitter:player" content="/stream/<%= id %>">
  <meta name="twitter:image" content="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>">
  <meta property="og:description" content="<%= info.videoDetails.description || "" %>">
  <meta property="og:site_name" content="ytmous | Watch Anonymously!">
  <meta property="og:image" content="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="ytmous | Watch Anonymously!">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/plyr.css">
  <script src="/js/plyr.polyfilled.js"></script>
</head>

<body>

  <video id="player" playsinline poster="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>" controls src="/s/<%= id %>" width="100%"></video>
   
  <script>
   document.addEventListener('DOMContentLoaded', () => {
     const player = new Plyr('video', {
       controls: [
         'play-large', 'play', 'progress', 'current-time', 'duration',
         'mute', 'volume', 'settings', //'pip',
         'airplay', 'download', 'fullscreen'
       ],
       settings: ['captions', 'quality', 'speed'],
       title: '<%= info.videoDetails.title %>,',
       iconUrl: '/plyr.svg',
       autopause: false,
       debug: true
     });

     player.on('error', err => {
     	console.error(err);
     	location.reload();
     });
   });
  </script>
  <style>
	* {
		--plyr-color-main: #ff8181;
	}

	a {
		color: #ff8181;
	}

	video, .plyr {
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
	}
	
  </style>
</body>

</html>
