<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ytmous</title>
  </head>
  <body>
    <span class="fixed border bottom left"
      ><a href="/"><b>ytmous</b></a> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" id="sbtn" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input
          name="q"
          class="border"
          type="text"
          placeholder="Search video...."
          value="<%= query %>"
        />
      </form>
    </div>
    <% if (!res.items.length) { %>
    <% if (page > 1) { %>
    <div style="padding: 25px">
      <h2>No more results</h2>
      <span>There's no more results for <%= `"${query}"` %>.</span>
    </div>
    <% } else { %>
    <div style="padding: 25px">
      <h2>No result</h2>
      <span>No result was found for <%= `"${query}"` %>.<br><br>Tap <span class="border">Next Page</span> button to see whenever there's a result for your search again.</span>
    </div>
    <% } %>
    <% } %>
    <div id="relatedVideos">
      <% res.items.forEach(video => { %>
      <% if (video.type === "video" || video.type === "short") { %>
      <% if (video.type === "short") { video.author = video.channel; video.id = video.videoID; video.uploadedAt = video.views } %>
      <div class="rVideo">
        <a href="/w/<%= video.id %>"
          ><img lazy src="/vi/<%= video.id %>/mqdefault.jpg"
        /></a>
        <div class="rVideoInfo">
          <h4><a href="/w/<%= video.id %>"><%= video.title %></a></h4>
          <% if (video.author) { %>
          <span
            >
            <% if (video.author.bestAvatar) { %>
            <img lazy
              src="/yt3<%- (new URL(video.author.bestAvatar.url)).pathname %>"
              style="border-radius: 50%; width: 17px; height: 17px"
            /><% } %>
            <a href="/c/<%= video.author.channelID %>"><%= video.author.name %></a></span
          >
          <% } %>
          <br>
          <small><%= video.uploadedAt %> • Duration: <b><%= video.isLive ? "LIVE" : video.duration %></b></small>
        </div>
      </div>
      <% } else if (video.type === "playlist") { %>
      <div class="rVideo">
        <a href="/p/<%= video.playlistID %>"><img lazy src="/vi/<%= video.firstVideo.id %>/mqdefault.jpg"/></a>
        <div class="rVideoInfo">
          <h4><a href="/p/<%= video.playlistID %>"><%= video.title %></a></h4>
          <% if (video.owner) { %>
          <span><a href="/c/<%= video.owner.channelID %>"><%= video.owner.name %></a></span><br>
          <% } %>
          <small>Playlist: <b><%= video.length %></b> videos.</small>
        </div>
      </div>
      <% } else if (video.type === "channel") { %>
      <div class="rVideo" style="margin-top: 2px;">
        <a href="/c/<%= video.channelID %>"><img lazy src="/yt3<%- (new URL(video.bestAvatar.url)).pathname %>" style="padding: 25px; width: 90px;"/></a>
        <div class="rVideoInfo">
          <h2><a href="/c/<%= video.channelID %>"><%= video.name %></a></h2>
          <span><%= video.description || video.descriptionShort %></span><br>
          <small><b><%= video.subscribers %></b></small>
        </div>
      </div>
      <% } else if (video.type === "shelf") { %>
      <details class="shelf border" style="margin-top: 2px;" open>
        <summary class="shelfTitle"><%= video.title %></summary>
        <% video.items.forEach(video => { %>
        <% if (video.type === "video" || video.type === "short") { %>
        <div class="rVideo">
          <% if (video.type === "short") { video.author = video.channel; video.id = video.videoID; video.uploadedAt = video.views } %>
          <a href="/w/<%= video.id %>"
            ><img lazy src="/vi/<%= video.id %>/mqdefault.jpg"
          /></a>
          <div class="rVideoInfo">
            <h4><a href="/w/<%= video.id %>"><%= video.title %></a></h4>
            <% if (video.author) { %>
            <span
              >
              <% if (video.author.bestAvatar) { %>
              <img lazy
                src="/yt3<%- (new URL(video.author.bestAvatar.url)).pathname %>"
                style="border-radius: 50%; width: 17px; height: 17px"
              /><% } %>
              <a href="/c/<%= video.author.channelID %>"><%= video.author.name %></a></span
            >
            <% } %>
            <br>
            <small><%= video.uploadedAt %> • Duration: <b><%= video.isLive ? "LIVE" : video.duration %></b></small>
          </div>
        </div>
        <% } else if (video.type === "playlist") { %>
        <div class="rVideo">
          <a href="/p/<%= video.playlistID %>"><img lazy src="/vi/<%= video.firstVideo.id %>/mqdefault.jpg"/></a>
          <div class="rVideoInfo">
            <h4><a href="/p/<%= video.playlistID %>"><%= video.title %></a></h4>
            <% if (video.owner) { %>
            <span><a href="/c/<%= video.owner.channelID %>"><%= video.owner.name %></a></span><br>
            <% } %>
            <small>Playlist: <b><%= video.length %></b> videos.</small>
          </div>
        </div>
        <% } else if (video.type === "channel") { %>
        <div class="rVideo" style="margin-top: 2px;">
          <a href="/c/<%= video.channelID %>"><img lazy src="/yt3<%- (new URL(video.bestAvatar.url)).pathname %>" style="padding: 25px; width: 90px;"/></a>
          <div class="rVideoInfo">
            <h2><a href="/c/<%= video.channelID %>"><%= video.name %></a></h2>
            <span><%= video.description || video.descriptionShort %></span><br>
            <small><b><%= video.subscribers %></b></small>
          </div>
        </div>
        <% } %>
        <% }); %>
      </details>
      <% } %>
      <% }); %>
    </div>
    <% if (page > 1) { %>
    <a class="fixed border left" style="bottom: 30px" href="/s?q=<%= query %>&p=<%= page-1 %>"
      >Previous Page</a
    >
    <% } %>
    <% if (!(page > 1) || res.items.length) { %>
    <a class="fixed border right" style="bottom: 30px" href="/s?q=<%= query %>&p=<%= page+1 %>"
      >Next Page</a
    >
    <% } %>
    <style>
      body {
        display: block;
      }
    </style>
  </body>
</html>
