<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ytmous</title>
  </head>
  <body>
<span class="fixed border bottom left"
      ><b>ytmous</b> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input name="q" class="border" type="text" placeholder="Search video...." />
      </form>
    </div>
    <% res.items.forEach(video => { %>
     <% if (video.type !== "video") return; %>
      <div class="rVideo">
      <a href="/w/<%= video.id %>"><img src="<%= video.bestThumbnail.url.slice(19) %>" /></a>
        <div class="rVideoInfo">
	<a href="/w/<%= video.id %>"><h4><%= video.title %></h4></a>
          <img src="/yt3/<%= video.author.bestAvatar.url.slice(22) %>" style="border-radius: 50%; width: 15px; height: 15px;"> <span><b><%= video.author.name %></b></span>
        </div>
      </div>
    <% }); %>
  <style>
    body {
      display: flex;
    }
  </style>
  </body>
</html>
