<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ytmous</title>
  </head>
  <body>
    <div class="fixed bottom left">
      <small style="text-shadow: 2px 2px 2px white; font-weight: bold;"><a href="https://lecturify.net">Our Homepage</a> - <a href="https://chat.lecturify.net/#lecturify-hello">Chatroom</a> - <a href="https://liberapay.com/lecturify">Donate</a></small><br>
      <span class="border"><a href="/"><b>ytmous</b></a> - Anonymous Youtube Proxy</div>
    </div>
    <a class="fixed border bottom right" id="sbtn" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input
          name="q"
          class="border"
          type="text"
          placeholder="Search video...."
          value="<%= query %>"
        />
      </form>
    </div>
    <% if (!res.results.length) { %>
    <% if (page > 1) { %>
    <div style="padding: 25px">
      <h2>No more results</h2>
      <span>There's no more results for <%= `"${query}"` %>.</span>
    </div>
    <% } else { %>
    <div style="padding: 25px">
      <h2>No result</h2>
      <span>No result was found for <%= `"${query}"` %>.<br><br>Tap <span class="border">Next Page</span> button to see whenever there's a result for your search again.</span>
    </div>
    <% } %>
    <% } %>
    <div id="relatedVideos">
      <% res.results.forEach(video => { %>
      <% if (video.type === "Video") { %>
      <div class="rVideo">
        <a href="/w/<%= video.id %>"
          ><img lazy src="/vi/<%= video.id %>/mqdefault.jpg"
        /></a>
        <div class="rVideoInfo">
          <h4><a href="/w/<%= video.id %>"><%= video.title.text %></a></h4>
          <% if (video.author) { %>
          <span
            >
            <% if (video.author?.thumbnails.length) { %>
            <img lazy
              src="/yt3<%- (new URL(video.author.thumbnails[0].url)).pathname %>"
              style="border-radius: 50%; width: 17px; height: 17px"
            /><% } %>
            <a href="/c/<%= video.author.id %>"><%= video.author.name %></a></span
          >
          <% } %>
          <br>
          <small><%= video.published.text %> • Duration: <b><%= video.duration.text %></b></small><br>
          <% video.badges.forEach(badge => { %>
          <small class="border"><%= badge.label %></small>
          <% }); %>
          <small><%= video.view_count.text %></small>
        </div>
      </div>
      <% } else if (video.type === "Playlist") { %>
      <div class="rVideo">
        <a href="/p/<%= video.id %>"><img lazy src="/vi/<%= video.first_videos[0].id %>/mqdefault.jpg"/></a>
        <div class="rVideoInfo">
          <h4><a href="/p/<%= video.id %>"><%= video.title.text %></a></h4>
          <% if (video.author) { %>
          <span><a href="/c/<%= video.author.id %>"><%= video.author.name %> <%= video.author.is_verified ? "<small class=\"border\">Verified</small>" : "" %></a></span><br>
          <% } %>
          <small>Playlist: <b><%= video.video_count.text %></b></small><br>
          <% video.badges.forEach(badge => { %>
          <small class="border"><%= badge.label %></small>
          <% }); %>
        </div>
      </div>
      <% } else if (video.type === "Channel") { %>
      <div class="rVideo" style="margin-top: 2px;">
        <a href="/c/<%= video.author.id %>"><img lazy src="/yt3<%- (new URL(video.author.thumbnails[0].url.startsWith("http") ? video.author.thumbnails[0].url : "https:" + video.author.thumbnails[0].url)).pathname %>" style="padding: 25px; width: 90px;"/></a>
        <div class="rVideoInfo">
          <h2><a href="/c/<%= video.author.id %>"><%= video.author.name %></a></h2>
          <span><%= video.description_snippet.text %></span><br>
          <small><b><%= video.subscribers.text %></b> • <%= video.videos.text %></small>
        </div>
      </div>
      <% } else if (video.type === "shelf") { %>
      <details class="shelf border" style="margin-top: 2px;" open>
        <summary class="shelfTitle"><%= video.title %></summary>
	<% video.results %>

	<% if (video.type === "Video") { %>
        <div class="rVideo">
          <a href="/w/<%= video.id %>"
            ><img lazy src="/vi/<%= video.id %>/mqdefault.jpg"
          /></a>
          <div class="rVideoInfo">
            <h4><a href="/w/<%= video.id %>"><%= video.title.text %></a></h4>
            <% if (video.author) { %>
            <span
              >
              <% if (video.author?.thumbnails.length) { %>
              <img lazy
                src="/yt3<%- (new URL(video.author.thumbnails[0].url)).pathname %>"
                style="border-radius: 50%; width: 17px; height: 17px"
              /><% } %>
              <a href="/c/<%= video.author.id %>"><%= video.author.name %></a></span
            >
            <% } %>
            <br>
            <small><%= video.published.text %> • Duration: <b><%= video.duration.text %></b></small><br>
            <% video.badges.forEach(badge => { %>
            <small class="border"><%= badge.label %></small>
            <% }); %>
            <small><%= video.view_count.text %></small>
          </div>
        </div>
        <% } else if (video.type === "Playlist") { %>
        <div class="rVideo">
          <a href="/p/<%= video.id %>"><img lazy src="/vi/<%= video.first_videos[0].id %>/mqdefault.jpg"/></a>
          <div class="rVideoInfo">
            <h4><a href="/p/<%= video.id %>"><%= video.title.text %></a></h4>
            <% if (video.author) { %>
            <span><a href="/c/<%= video.author.id %>"><%= video.author.name %> <%= video.author.is_verified ? "<small class=\"border\">Verified</small>" : "" %></a></span><br>
            <% } %>
            <small>Playlist: <b><%= video.video_count.text %></b></small><br>
            <% video.badges.forEach(badge => { %>
            <small class="border"><%= badge.label %></small>
            <% }); %>
          </div>
        </div>
        <% } else if (video.type === "Channel") { %>
        <div class="rVideo" style="margin-top: 2px;">
          <a href="/c/<%= video.author.id %>"><img lazy src="/yt3<%- (new URL(video.author.thumbnails[0].url)).pathname %>" style="padding: 25px; width: 90px;"/></a>
          <div class="rVideoInfo">
            <h2><a href="/c/<%= video.author.id %>"><%= video.author.name %></a></h2>
            <span><%= video.description_snippet.text %></span><br>
            <small><b><%= video.subscribers.text %></b> • <%= video.videos.text %></small>
          </div>
        </div>
        <% } %>
      </details>
      <% } %>
      <% }); %>
    </div>
    <% if (page > 1) { %>
    <a class="fixed border left" style="bottom: 30px" href="/s?q=<%= query %>&p=<%= page-1 %>"
      >Previous Page</a
    >
    <% } %>
    <% if (!(page > 1) || res.items.length) { %>
    <a class="fixed border right" style="bottom: 30px" href="/s?q=<%= query %>&p=<%= page+1 %>"
      >Next Page</a
    >
    <% } %>
    <style>
      body {
        display: block;
      }
    </style>
  </body>
</html>
