<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= query %> - ytmous</title>
  <meta name="description" content="A anonymous Youtube that does not spy on you.">
  <meta property="og:title" content="ytmous">
  <meta property="og:description" content="A anonymous Youtube that does not spy on you.">
  <meta property="og:site_name" content="ytmous | Watch Anonymously!">
  <meta property="og:image" content="/banner.png">
  <meta name="theme-color" content="#ff8181">
  <link rel="shortcut icon" href="/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="ytmous | Watch Anonymously!">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-light" aria-label="Select your requested Video!">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img width="30" src="/logo.png"> <%= query %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Yonle/ytmous">Github</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Community</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="https://discord.gg/9S3ZCDR">Discord Server</a></li>
              <li><a class="dropdown-item" href="https://t.me/yonlecoder">Telegram Group</a></li>
              <li><a class="dropdown-item" href="https://guilded.gg/yonlecoder">Guilded Server</a></li>
              <li><a class="dropdown-item" href="https://join.slack.com/t/yonle/shared_invite/zt-p5lauqvp-pMXb7RMqvmtcDf~UZcIHsA">Slack</a></li>
            </ul>
          </li>
        </ul>
        <form action="/s">
          <input name="q" class="form-control" type="text" placeholder="Search" aria-label="Search" value="<%= query %>">
        </form>
      </div>
    </div>
  </nav>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
   <% res.items.forEach(video => { %>
     <% if (video.type === 'video') { %>
       <div class="col">
         <div class="card h-100">
           <div class="card-header"><a href="/c/<%= video.author.channelID %>"><%= video.author.name %></a></div>
           <a href="/w/<%= video.id %>"><img src="<%= video.bestThumbnail.url.slice(19) %>" class="card-img-top" alt="<%= video.title %>"></a>
           <div class="card-body">
             <h5 class="card-title"><%= video.title %></h5>
             <p class="card-subtitle"><%= video.uploadedAt %></p>
             <p class="card-text"><%= video.description %></p>
           </div>
           <div class="card-footer">
             <small class="text-muted"><%= video.duration %></small>
           </div>
         </div>
       </div>
     <% } else if (video.type === 'playlist') { %>
       <div class="col">
         <div class="card h-100">
           <div class="card-header">Playlist (<%= video.length %> Video)</div>
           <a href="/p/<%= video.playlistID %>"><img style="opacity: 0.5" src="<%= video.firstVideo.bestThumbnail.url.slice(19) %>" class="card-img-top" alt="<%= video.title %>"></a>
           <div class="card-body">
             <h5 class="card-title"><%= video.title %></h5>
             <% if (video.owner) { %> <p class="card-subtitle"><a href="/u/<%= video.owner.id %>"><%= video.owner.name %></a></p> <% } %>
           </div>
           <div class="card-footer">
             <small class="text-muted"><%= video.publishedAt %></small>
           </div>
         </div>
       </div>
     <% } else if (video.type === 'channel') { %>
       <div class="col">
         <div class="card h-100">
           <div class="card-header">Channel</div>
             <a href="/c/<%= video.channelID %>"><img src="<%= video.bestAvatar.url.slice(21) %>" class="card-img-top" alt="<%= video.title %>"></a>
               <div class="card-body">
                 <h5 class="card-title"><%= video.name %></h5>
                 <p class="card-title"><%= video.description || video.descriptionShort %></p>
               </div>
               <div class="card-footer">
                 <small class="text-muted"><%= video.subscribers %></small>
               </div>
         </div>
      </div>
     <% } %>
   <% }); %>
  </div>
  <% if (page > 1) { %> <a class="btn position-absolute" style="left: 0; color: white; background-color: #ff8181;" href="/s?q=<%= query %>&p=<%= page-1 %>">Previous Page</a> <% } %>
  <a class="btn position-absolute" style="right: 0; color: white; background-color: #ff8181;" href="/s?q=<%= query %>&p=<%= page+1 %>">Next Page</a>
  <style>
	a {
		color: #ff8181;
	}
  </style>
</body>
</html>
