<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= info.videoDetails.title %></title>
  <meta name="description" content="<%= info.videoDetails.description || "" %>">
  <meta property="og:title" content="<%= info.videoDetails.title %> - ytmous">
  <meta property="og:type" content="video">
  <meta property="og:video" content="/stream/<%= id %>">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video" content="/stream/<%= id %>">
  <meta property="og:video:type" content="text/html">
  <meta property="twitter:player" content="/stream/<%= id %>">
  <meta name="twitter:image" content="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>">
  <meta property="og:description" content="<%= info.videoDetails.description || "" %>">
  <meta property="og:site_name" content="ytmous | Anonymous Youtube Proxy">
  <meta property="og:image" content="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>">
  <meta name="theme-color" content="#ff8181">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="author" content="ytmous | Anonymous Youtube Proxy">

  </head>
  <body>
    <span class="fixed border bottom left"
      ><b>ytmous</b> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input name="q" class="border" type="text" placeholder="Search video...." />
      </form>
    </div>
    
    <!-- Video Player -->
    <div id="player" class="left fixed">
      <video poster="<%= info.videoDetails.thumbnails.pop().url.slice(19); %>" controls autoplay src="/s/<%= id %>"></video>
      <!-- Channel Information -->
      <div class="chnInfl">
        <img src="/yt3/<%= info.videoDetails.author.thumbnails.pop().url.slice(22) %>" style="border-radius: 50%; width: 15px; height: 15px;">
        <span><b><%= info.videoDetails.author.name %></b></span>
      </div>
      <!-- Video Information -->
      <div id="vidInfo">
        <h2><%= info.videoDetails.title %></h2>
        <span><%- (info.videoDetails.description || "").replace(/\n/g, "<br>") %></span>
      </div>
    </div>
    <!-- Related Video section -->
    <div id="relatedVideos" class="absolute right">
      <% info.related_videos.forEach(video => { %>
      <div class="rVideo">
      <a href="/w/<%= video.id %>"><img src="<%= video.thumbnails.pop().url.slice(19); %>" /></a>
        <div class="rVideoInfo">
	<a href="/w/<%= video.id %>"><h4><%= video.title %></h4></a>
          <img src="/yt3/<%= video.author.thumbnails.pop().url.slice(22) %>" style="border-radius: 50%; width: 15px; height: 15px;">
          <span><%= video.author.name %></span>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
