<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title><%= info.basic_info.title %></title>
    <meta name="description" content="<%= info.basic_info.short_description || ""
    %>">
    <meta
      property="og:title"
      content="<%= info.basic_info.title %>"
    />
    <meta property="og:type" content="video" />
    <meta property="og:video" content="/s/<%= id %>" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:url" content="/s/<%= id %>" />
    <meta property="twitter:player" content="/s/<%= id %>" />
    <meta
      name="twitter:image"
      content="/vi/<%= id %>/hqdefault.jpg"
    />
    <meta property="og:description" content="<%= info.basic_info.short_description
    || "" %>">
    <meta property="og:site_name" content="ytmous | Anonymous Youtube Proxy" />
    <meta
      property="og:image"
      content="/vi/<%= id %>/hqdefault.jpg"
    />
    <meta name="theme-color" content="#ff8181" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="author" content="ytmous | Anonymous Youtube Proxy" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <span class="fixed border bottom left" style="z-index: 4;"
      ><a href="/"><b>ytmous</b></a> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" style="z-index: 4;" id="sbtn" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input
          name="q"
          class="border"
          type="text"
          placeholder="Search video...."
        />
      </form>
    </div>

    <!-- Video Player -->
    <div id="player" class="left">
      <video
        poster="/vi/<%= id %>/hqdefault.jpg"
        controls
        autoplay
      >
        <% if (info.streaming_data) { %><source src="/s/<%= id %>"><% } %>
        <% if (captions && captions.length) { %>
        <% captions.forEach(c => { %>
        <track src="/cc/<%= id %>?vss_id=<%= c.vss_id %>&fmt=vtt" srclang="<%= c.languange_code %>" label="<%= c.name.text %>">
        <% }); %>
        <% } %>

        <ul>
          <% if (info.streaming_data) { %>
            <li><a href="/s/<%= id %>">Video</a></li>
            <li><a href="/s/<%= id %>?itag=<%= info.streaming_data.adaptive_formats.filter(i => i.has_audio && !i.has_video).pop().itag %>">Audio</a></li>
            <li><a href="/s/<%= id %>" download>Video (Download)</a></li>
            <li><a href="/s/<%= id %>?itag=<%= info.streaming_data.adaptive_formats.filter(i => i.has_audio && !i.has_video).pop().itag %>" download>Audio (Download)</a></li>
          <% } else { %>
            <li>This video is unavailable for this server.</li>
          <% } %>
          <% if (captions && captions.length) { %>
          <% captions.forEach(c => { %>
          <li><a href="/cc/<%= id %>?vssId=<%= c.vssId %>&fmt=vtt" download>Subtitle (WebVTT): <%= c.name %></a></li>
          <% }); %>
          <% } %>
        </ul>
      </video>
      <!-- Channel Information -->
      <div class="chnInf">
        <h4
          >
          <% if (info.secondary_info.owner.author.thumbnails.length) { %>
          <img loading="lazy"
            src="/yt3<%- (new URL(info.secondary_info.owner.author.thumbnails[0].url)).pathname %>"
            style="border-radius: 50%; width: 15px; height: 15px"
          /><% } %>
          <a href="/c/<%= info.secondary_info.owner.author.id %>">
            <%= info.secondary_info.owner.author.name %></a>
          <small style="color: gray;"> • <%= info.secondary_info.owner.subscriber_count.text %></small></h4>
      </div>     

      <!-- Video Information -->
      <div id="vidInfo">
        <!-- Quality Selection -->
        <details class="border right" id="qs">
          <% if (info.streaming_data) { %>
            <summary>Quality Selection</summary>
            <ul>
            <% info.streaming_data.adaptive_formats.filter(i => !i.has_audio && !i.isDashMPD).forEach(i => { %>
              <li><a href="#" onclick="<%= `cq(${i.itag}, ${info.streaming_data.adaptive_formats.filter(i => i.has_audio && !i.has_video).pop().itag})` %>"><b><%= i.quality_label %></b> <%= i.mime_type %></a></li>
            <% }); %>
            </ul>
          <% } else { %>
            <summary>Video unavailable</summary>
            <p>This video is unavailable for this server, Or only available at certain servers / country.</p>
          <% } %>
        </details>
        <h2><%= info.basic_info.title %></h2>
        <pre style="font-family: sans-serif;"><%= (info.basic_info.short_description || "") %></pre>
        <br><br>
        <small>Likes: <b><%= info.basic_info.like_count || 0 %></b></small><br>
        <small>Viewers: <b><%= info.primary_info.view_count %></b></small><br>
        <small>Category: <b><%= info.basic_info.category %></b></small><br>
        <small>Published: <b><%= info.primary_info.relative_date.text %>, <%= info.primary_info.published.text %></b></small><br>
        <small>Family Safe: <b><%= info.basic_info.is_family_safe ? "yes" : "no" %></b></small><br>
        <small>Unlisted: <b><%= info.basic_info.is_unlisted ? "yes" : "no" %></b></small></br>
        <small>Crawlable: <b><%= info.basic_info.is_crawlable ? "yes" : "no" %></b></small><br>
        <% if (!info.streaming_data) { %><small>This video is unavailable for this server.</small><br><% } %>
      </div>
    </div>
    <!-- Related Video section -->
    <div id="relatedVideos" class="right">
      <% info.watch_next_feed.forEach(video => { %>
        <%- include("comp/videolist.ejs", { video }); %>
      <% }); %>
    </div>

    <!-- Comments -->
    <div id="comments" class="border popup fixed bottom left">
      <iframe loading="lazy" src="/cm/<%= id %>">
        View this video <a href="/cm/<%= id %>">comments</a>.
      </iframe><br>
      <a href="#"><small>Close</small></a>
    </div>

    <div class="fixed border left" style="bottom: 30px; z-index: 3; max-width: 70%;">
      <% if (comments && comments.contents && comments.contents.length) { %>
      <a class="border" href="#comments"><%= comments.header.count.text || "0 Comments" %></a>
      <marquee>
      <% comments.contents.forEach(c => { %>
        <span>
          <span class="border">
            <% if (c.comment.author.thumbnails) { %>
            <img loading="lazy"
              src="/yt3<%- (new URL(c.comment.author.thumbnails[0].url)).pathname %>"
              style="border-radius: 50%; width: 17px; height: 17px"
            />
            <% } %>
            <a href="/c/<%= c.authorId %>"><%= c.comment.author.name %> </a>
          </span>
          <span><%= c.comment.content.text.replace(RegExp("\n", "g"), "; "); %></span>
        </span>
      <% }); %>
      </marquee>
      <% } else { %>
      <span>No comments for this video.</span>
      <% } %>
    </div>

    <script>
    try {
      document.getElementById("qs").style.visibility = "visible";
      let audio = new Audio();
      let video = document.querySelector("video");

      let lastTime = null;
      let changeTime = true;

      video.mediaGroup = "<%= id %>";
      audio.mediaGroup = "<%= id %>";

      function cq(vid, aid) {
        if (!lastTime) lastTime = video.currentTime;

        if (video.error || !video.currentSrc.endsWith("/s/<%= id %>?itag=" + vid)) {
          let lastTracks = video.textTracks;
          video.src = "/s/<%= id %>?itag=" + vid;
          video.textTracks = lastTracks;

          video.load();
        }

        if (audio.error || !audio.currentSrc.endsWith("/s/<%= id %>?itag=" + aid)) {
          audio.src = "/s/<%= id %>?itag=" + aid;
          audio.load();
        }

        document.getElementById("qs").open = false;
      }

      function seekAudio() {
        if (audio.fastSeek) {
          audio.fastSeek(lastTime || video.currentTime);
        } else {
          audio.currentTime = lastTime || video.currentTime;
        }
        lastTime = null;
      }

      video.addEventListener("playing", () => {
        changeTime = true;
        audio.play();
      });

      video.addEventListener("ratechange", () => {
        audio.playbackRate = video.playbackRate;
        seekAudio();
      });

      video.addEventListener("loadedmetadata", () => {
        if (!lastTime) return;
        video.currentTime = lastTime;
      });

      video.addEventListener("seeked", seekAudio);

      ["pause", "waiting"].forEach(e => {
        video.addEventListener(e, () =>
          audio.pause()
        );
      });

      audio.addEventListener("playing", () => {
        if (!changeTime) return changeTime = true;
        audio.playbackRate = video.playbackRate;
        seekAudio();
        changeTime = false;
      });

      let lastDelay = 0;
      setInterval(() => {
        if (Math.ceil(audio.currentTime) === Math.ceil(video.currentTime) || lastTime) return;

        lastDelay = video.currentTime - audio.currentTime;

        console.log(`sync: Audio synced from ${audio.currentTime} to ${video.currentTime} (${lastDelay}s late)`);
        audio.playbackRate = video.playbackRate;
        seekAudio();
      }, 1000);
    } catch (e) { alert(e.toString()) }
    </script>
    <style>
      #relatedVideos {
        float: right;
        margin-bottom: 60px;
      }

      .rVideoInfo {
        max-width: 200px;
      }
    </style>
  </body>
</html>
