<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Toard.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title><%= info.videoDetails.title %></title>
    <meta name="description" content="<%= info.videoDetails.description || ""
    %>">
    <meta
      property="og:title"
      content="<%= info.videoDetails.title %> - ytmous"
    />
    <meta property="og:type" content="video" />
    <meta property="og:video" content="/stream/<%= id %>" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video" content="/stream/<%= id %>" />
    <meta property="og:video:type" content="text/html" />
    <meta property="twitter:player" content="/stream/<%= id %>" />
    <meta
      name="twitter:image"
      content="<%= (new URL(info.videoDetails.thumbnails.pop().url)).pathname %>"
    />
    <meta property="og:description" content="<%= info.videoDetails.description
    || "" %>">
    <meta property="og:site_name" content="ytmous | Anonymous Youtube Proxy" />
    <meta
      property="og:image"
      content="<%= (new URL(info.videoDetails.thumbnails.pop().url)).pathname %>"
    />
    <meta name="theme-color" content="#ff8181" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="author" content="ytmous | Anonymous Youtube Proxy" />
    <meta name="robots" content="noindex">
  </head>
  <body>
    <span class="fixed border bottom left" style="z-index: 4;"
      ><b>ytmous</b> - Anonymous Youtube Proxy</span
    >
    <a class="fixed border bottom right" style="z-index: 4;" id="sbtn" href="#sbox">Search</a>
    <div id="sbox" class="border fixed bottom right popup">
      <form action="/s" method="GET">
        <input
          name="q"
          class="border"
          type="text"
          placeholder="Search video...."
        />
      </form>
    </div>

    <!-- Video Player -->
    <div id="player" class="left absolute">
      <video
        poster="<%= (new URL(info.videoDetails.thumbnails.pop().url)).pathname %>"
        controls
        autoplay>
        <source src="/s/<%= id %>">
      </video>
      <!-- Channel Information -->
      <div class="chnInf">
        <h4
          ><img lazy
            src="/yt3<%= (new URL(info.videoDetails.author.thumbnails.pop().url)).pathname %>"
            style="border-radius: 50%; width: 15px; height: 15px"
          />
          <a href="/c/<%= info.videoDetails.author.id %>"
            ><%= info.videoDetails.author.name %></a
          ><small style="color: gray;"> • <%= info.videoDetails.author.subscriber_count %> subscribers.</small></h4
        >
      </div>
      <!-- Video Information -->
      <div id="vidInfo">
        <!-- Quality Selection -->
        <a href="#qs" id="qsb" class="border right">Quality Selection</a>
        <div class="border popup fixed bottom" id="qs">
          <a href="#" class="border top right">Close</a>
          <% info.formats.filter(i => !i.hasAudio && !i.isDashMPD).forEach(i => { %>
          <a href="#" onclick="<%= `cq(${i.itag}, ${info.formats.filter(i => i.hasAudio && !i.hasVideo)[0].itag})` %>"><b><%= i.qualityLabel %></b> <%= i.mimeType %></a><br>
          <% }); %>
        </div>
        <h2><%= info.videoDetails.title %></h2>
        <span
          ><%- (info.videoDetails.description || "").replace(/\n/g, "<br />")
          %></span
        ><br><br>
        <small>Likes: <b><%= info.videoDetails.likes || 0 %></b></small><br>
        <small>Dislikes: <b><%= info.videoDetails.dislikes || 0 %></b></small><br>
        <small>Viewers: <b><%= info.videoDetails.viewCount %></b></small><br>
        <small>Category: <b><%= info.videoDetails.category %></b></small><br>
        <small>Uploaded at <b><%= info.videoDetails.uploadDate %></b></small><br>
        <small>Published at <b><%= info.videoDetails.publishDate %></b></small><br>
        <small>Private video: <b><%= info.videoDetails.isPrivate ? "yes" : "no" %></b></small><br>
        <small>Age restricted: <b><%= info.videoDetails.age_restricted ? "yes" : "no" %></b></small><br>
        <small>Crawlable: <b><%= info.videoDetails.isCrawlable ? "yes" : "no" %></b></small><br>
      </div>
    </div>
    <!-- Related Video section -->
    <div id="relatedVideos" class="absolute right">
      <% info.related_videos.forEach(video => { %>
      <div class="rVideo">
        <a href="/w/<%= video.id %>"
          ><img lazy src="<%= (new URL(video.thumbnails.pop().url)).pathname; %>"
        /></a>
        <div class="rVideoInfo">
          <h4><a href="/w/<%= video.id %>"><%= video.title %></a></h4>
          <div class="chnInf">
            <span>
              <img lazy
                src="/yt3/<%= (new URL(video.author.thumbnails.pop().url)).pathname %>"
                style="border-radius: 50%; width: 17px; height: 17px"
              />
              <a href="/c/<%= video.author.id %>">
                <%= video.author.name %>
              </a>
            </span><br>
            <small><%= video.short_view_count_text %> viewers • <%= video.published %></small>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <script>
    try {
      document.getElementById("qsb").style.visibility = "visible";
      let audio = new Audio();
      let video = document.querySelector("video");

      let lastTime = null;
      let changeTime = true;

      video.mediaGroup = "<%= id %>";
      audio.mediaGroup = "<%= id %>";

      function cq(vid, aid) {
        if (!lastTime) lastTime = video.currentTime;

        if (video.src !== ("/s/<%= id %>?itag=" + vid)) {
          video.src = "/s/<%= id %>?itag=" + vid;
          video.load();
        }

        if (audio.src !== ("/s/<%= id %>?itag=" + aid)) {
          audio.src = "/s/<%= id %>?itag=" + aid;
          audio.load();
        }
      }

      video.addEventListener("playing", () => {
        changeTime = true;
        audio.play();
      });

      video.addEventListener("ratechange", () => {
        audio.playbackRate = video.playbackRate;
        audio.currentTime = video.currentTime;
      });

      video.addEventListener("loadeddata", () => {
        if (!lastTime) return;
        video.currentTime = lastTime;
        audio.currentTime = lastTime;
        lastTime = null;
      });

      ["pause", "waiting"].forEach(e => {      
        video.addEventListener(e, () => {
          changeTime = true;
          audio.pause();
        });
      });

      audio.addEventListener("playing", () => {
        if (!changeTime) return;
        audio.playbackRate = video.playbackRate;
        audio.currentTime = video.currentTime;
        changeTime = false;
      });
    } catch (e) { alert(e.toString()) }
    </script>
    <style>
      #relatedVideos {
        float: right;
      }

      .rVideoInfo {
        max-width: 200px;
      }

      /* @media only screen and (max-width: 960px) {
        #relatedVideos {
          float: left;
          position: relative;
          padding: 2px;
        }
      } */
    </style>
  </body>
</html>
